<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.dm">
<insert id="doSend" parameterType="DmVO" >
    <choose>
        <when test="room !=0">
            INSERT INTO DM (
        seq,
        room,
        sender,
        receiver,
        contents,
        send_dt,
        read_Dt,
        read_chk
    ) VALUES (
        #{seq},
        1,
        #{sender},
        #{receiver},
        #{contents},
        SYSDATE,
        SYSDATE,
        #{readChk}
    )
        </when>
        <otherwise>
             INSERT INTO DM (
        seq,
        room,
        sender,
        receiver,
        contents,
        send_dt,
        read_Dt,
        read_chk
    ) VALUES (
        #{seq},
        1,
        #{sender},
        #{receiver},
        #{contents},
        SYSDATE,
        SYSDATE,
        #{readChk}
    )
        </otherwise>
    </choose>
</insert>
  <update id="updateReadChk" parameterType="DmVO">
    UPDATE dm
    SET read_chk = 1
    WHERE read_chk = 0
      
      AND (
        <choose>
            <when test="room != 0">
                room = #{room} AND receiver = #{receiver} 
            </when>
            
        </choose>
      )
  </update>
  <select id="recentMessage" parameterType="DmVO" resultType="DmVO">
 <![CDATA[
    SELECT seq,
           room,
           sender,
           receiver,
           contents,
           TO_CHAR(send_dt, 'YYYY-MM-DD HH24:MI') AS sendDt,
           TO_CHAR(read_dt, 'YYYY-MM-DD HH24:MI') AS readDt,
           read_chk
    FROM dm
    WHERE (seq, room) IN (SELECT MAX(seq), room FROM dm GROUP BY room)
      AND (sender = #{sender} OR reciever = #{receiver})
    ORDER BY seq DESC
    ]]>
</select>
<select id="contentsList" parameterType="DmVO" resultType="DmVO">
    <![CDATA[
       SELECT m.seq
            , m.room
            , sender
            , receiver
            , sender.name as senderName
            , receiver.name as receiverName
            , m.contents
            , TO_CHAR(m.send_dt, 'YYYY-MM-DD HH24:MI') AS sendDT
            , TO_CHAR(m.read_dt, 'YYYY-MM-DD HH24:MI') AS sendDT
            , m.read_chk AS readChk
         FROM dm m
   LEFT OUTER JOIN users sender 
           ON m.sender = sender.email
   LEFT OUTER JOIN users receiver 
           ON m.receiver = receiver.email
     WHERE m.sender = #{sender} AND m.receiver = #{receiver}    
     ORDER BY seq
        ]]>  
    
</select>
<select id="receiverList" parameterType="DmVO" resultType="DmVO">
    <![CDATA[
       SELECT
    receiver.email AS receiver,
    receiver.name AS receiverName,
    COUNT(m.read_chk) AS readChk
    FROM
    dm m
    LEFT JOIN users receiver ON m.receiver = receiver.email
    GROUP BY
    receiver.email, receiver.name
    ORDER BY
    receiver.name
        ]]>  
    
</select>
<delete id="doDelete" parameterType="DmVO">
        DELETE FROM dm
        WHERE seq = #{seq}  
  </delete>
 <select id="getDmSeq" resultType="int">
     SELECT DM_SEQ.NEXTVAL FROM DUAL
  </select>         
</mapper>