<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.schedule">

 	<select id="getCount" resultType="int" parameterType="ScheduleVO">
	     SELECT                   
	        COUNT(*) cnt         
		 FROM                     
		    schedule                
    </select> 
 
	<delete id="doDelete" parameterType="ScheduleVO">
	    DELETE FROM schedule 
	    WHERE  schedule_id = #{scheduleID}
    </delete>
  
  <update id="doUpdate" parameterType="ScheduleVO">
	UPDATE schedule
	SET  
	    title = #{title},
	    explanation = #{explanation}
	WHERE schedule_id = #{scheduleID}
  </update>
  
  
  <select id="getScheduleSeq" resultType="int">
     SELECT SCHEDULE_SEQ.NEXTVAL FROM DUAL
  </select>
  
  <select id="doSelectOne" parameterType="ScheduleVO" resultType="ScheduleVO">
	SELECT
	    schedule_id,
	    cal_id,
	    title,
	    explanation,
	    email
	FROM    schedule
	WHERE schedule_id = #{scheduleID}
  </select>
  
  <select id="doSelectAllSchedule" parameterType="CalendarVO" resultType="ScheduleVO">
	SELECT
	    schedule_id,
	    cal_id,
	    title,
	    explanation,
	    email
	FROM    schedule  
	WHERE cal_id = #{calID} and email = #{email}
	ORDER BY schedule_id  
  </select>
  
  <insert id="doSave" parameterType="ScheduleVO">
	INSERT INTO schedule (
	    schedule_id,
	    cal_id,
	    title,
	    explanation,
	    email
	) VALUES (
	    schedule_seq.NEXTVAL,
	    #{calID},
	    #{title},
	    #{explanation},
	    #{email}
	)
  </insert>
  
  <delete id="doDeleteMultiple" parameterType="int[]">
    DELETE FROM schedule 
    WHERE schedule_id IN
    <foreach item="item" collection="array" open="(" separator="," close=")">
        #{item}
    </foreach>
 </delete>
 
 <select id="doRetrieve" resultType="ScheduleVO">
	SELECT
	    schedule_id,
	    cal_id,
	    title,
	    explanation,
	    email
	FROM
	    schedule
    WHERE email = #{email}
	ORDER BY cal_id, schedule_id
  </select>
 
  
</mapper>