<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.licenses">

    <select id="doSelectAll" parameterType="LicensesVO" resultType="LicensesVO">
    SELECT
	    seq,
	    name
	FROM
	    licenses
    </select>
    
    <insert id="doSave" parameterType="LicensesVO">
		INSERT INTO user_licenses (
		    email,
		    licenses_seq,
		    reg_dt
		) VALUES (
		    #{email},
		    (SELECT seq FROM licenses WHERE seq = #{seq}),
		   '#{reg_dt}'
		);
    </insert>
    
    
</mapper>