<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Dao: query찾는 분류 기준 
namespace+id -> com.pcwk.ehr.user.doSelectOne
-->  
<mapper namespace="com.pcwk.ehr.subject">
	
	
	
	<sql id="searchCondition">
	    <where>
	        <choose>
	            <when test="searchDiv != null and searchDiv == '10'">
	                subject_code = #{searchWord}
	            </when>
	            <when test="searchDiv != null and searchDiv == '20'">
	                subject_code = #{searchWord}
	            </when>
	        </choose>
	    </where>
	</sql>



    <select id="doRetrieve" parameterType="SubjectVO" resultType="SubjectVO">
		SELECT DISTINCT subject_code, courses_code, professor, trainee, score
   			FROM subject
    	JOIN users ON professor = users.email OR trainee = users.email
	    <where>
	       (users.email = #{professor} OR users.email = #{trainee})
	       <include refid="searchCondition"></include>
	    </where>
   
    </select>


	

	<select id="doSelectOne" parameterType="SubjectVO" resultType="SubjectVO">
		SELECT
		    subject_code,
		    courses_code,
		    professor,
		    trainee,
		    score
		FROM
		    subject
		WHERE
			subject_code = #{subjectCode} AND
			courses_code = #{coursesCode} AND
	        trainee = #{trainee}
	</select>
	
	
	<update id="doUpdate" parameterType="SubjectVO">
	    UPDATE subject
	    SET
	        subject_code = #{subjectCode},
	        courses_code = #{courseCode},
	        professor = #{professor},
	        trainee = #{trainee},
	        score = #{score}
	    WHERE
	        subject_code = #{subjectCode} AND
	        courses_code = #{coursesCode} AND
	        trainee = #{trainee};
	</update>
	

    
    <insert id="doSave" parameterType="SubjectVO">
	    INSERT INTO subject (
	    subject_code,
	    courses_code,
	    professor,
	    trainee,
	    score
	) VALUES (
	    #{subjectCode},
	    #{coursesCode},
	    #{professor},
	    #{trainee},
	    #{score}
	)
    </insert>
    

</mapper>  