<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Dao: query찾는 분류 기준 
namespace+id -> com.pcwk.ehr.user.doSelectOne
-->  
<mapper namespace="com.pcwk.ehr.subject">
	
	
	
	<sql id="searchCondition">
	    <where>
	        <choose>
	            <when test="searchDiv != null and searchDiv == '10'">
	                subject_code = #{searchWord}
	            </when>
	            <when test="searchDiv != null and searchDiv == '20'">
	                subject_code = #{searchWord}
	            </when>
	        </choose>
	    </where>
	</sql>

	



    <select id="doRetrieve" parameterType="SubjectVO" resultType="SubjectVO">
		SELECT DISTINCT subject_code, courses_code, professor, trainee, score
   			FROM subject
    	JOIN users ON professor = users.email OR trainee = users.email
	    <where>
	       (users.email = #{professor} OR users.email = #{trainee})
	       <include refid="searchCondition"></include>
	    </where>
   
    </select>
    
	<select id="doRetrieveBySubjectCode" parameterType="SubjectVO" resultType="SubjectVO">
		 SELECT subject_code, courses_code, professor, trainee, score
   			FROM subject
	       WHERE professor = #{professor} AND subject_code = #{subjectCode}
    </select>


    


	

	<select id="doSelectOne" parameterType="SubjectVO" resultType="SubjectVO">
		SELECT
		    subject_code,
		    courses_code,
		    professor,
		    trainee,
		    score
		FROM
		    subject
		WHERE
			subject_code = #{subjectCode} AND
			courses_code = #{coursesCode} AND
	        trainee = #{trainee}
	</select>
	
	
	<update id="doUpdate" parameterType="SubjectVO">
	    UPDATE subject
	    SET
	        score = #{score}
	    WHERE
	        subject_code = #{subjectCode} AND
	        courses_code = #{coursesCode} AND
	        trainee = #{trainee}
	</update>
	

    
    <insert id="doSave" parameterType="SubjectVO">
	    INSERT INTO subject (
	    subject_code,
	    courses_code,
	    professor,
	    trainee,
	    score
	) VALUES (
	    #{subjectCode},
	    #{coursesCode},
	    #{professor},
	    #{trainee},
	    #{score}
	)
    </insert>
    
    <insert id="doSaveSubject" parameterType="CodeVO">
	    INSERT INTO cmn_code (
	    	mst_code,
		    det_code,
		    mst_name,
		    det_name,
		    seq,
		    use_yn,
		    reg_dt,
		    reg_id,
		    mod_dt,
		    mod_id
		) VALUES (
		    'SUBJECT',
		    code_seq.NEXTVAL,
		    '과목',
		    #{detName},
		    code_seq.NEXTVAL,
		   	1,
		   	SYSDATE,
		   	#{regDd},
		   	SYSDATE,
		   	#{regDd}	
		)
    </insert>
    

</mapper>  