<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Dao: query찾는 분류 기준 
namespace+id -> com.pcwk.ehr.user.doSelectOne
-->  
<mapper namespace="com.pcwk.ehr.subject">



    <select id="doRetrieve" parameterType="SubjectVO" resultType="SubjectVO">
		SELECT u.email, u.role, uc.courses_code, s.trainee
		FROM users_courses uc
		JOIN users u  ON uc.email = u.email
		JOIN Subject s ON s.courses_code = uc.courses_code
		WHERE u.role = 30 
		AND uc.courses_code IN (
		    SELECT courses_code
		    FROM users_courses
		    JOIN users ON users.email = users_courses.email
		    WHERE users.role = 20 and users.email = #{user.email}
		);
    </select>

	
	

	<select id="doSelectOne" parameterType="SubjectVO" resultType="SubjectVO">
		SELECT
		    subject_code,
		    courses_code,
		    professor,
		    trainee,
		    score
		FROM
		    subject
		WHERE
	        trainee = #{trainee}
	</select>
	
	<update id="doUpdate" parameterType="SubjectVO">
	    UPDATE subject
	    SET
	        subject_code = #{subjectCode},
	        courses_code = #{courseCode},
	        professor = #{professor},
	        trainee = #{trainee},
	        score = #{score}
	    WHERE
	        subject_code = #{subjectCode} AND
	        courses_code = #{coursesCode} AND
	        trainee = #{trainee};
	</update>
	

    
    <insert id="doSave" parameterType="SubjectVO">
	    INSERT INTO subject (
	    subject_code,
	    courses_code,
	    professor,
	    trainee,
	    score
	) VALUES (
	    #{subjectCode},
	    #{coursesCode},
	    #{professor},
	    #{trainee},
	    #{score}
	)
    </insert>
    

</mapper>  